body {
  /* 全画面表示 */
  height: 100vh;
  margin: 0px;

  display: grid;
  grid-template-columns: 0.5fr 2fr;
  gap: 10px;
}

.logo {
  text-align: center;
}

.menus > div {
  border-bottom: solid 0.5px lightgray;
  padding: 20px 0px;
  text-align: center;
}

.menus > div:last-child {
  border-bottom: initial;
}

.menu-title { 
  display: grid;
  place-items: center;
  height: 50px;
}

.menu {
  display: grid;
  place-items: center;
  height: 50px;

  text-decoration: initial;
  color: black;
}

.contents {
  display: grid;
  grid-template-rows: 50px 1px 30px 1px 1fr;
  gap: 10px;
}

.driver {
  border-bottom: solid 0.5px lightgray;
}

.tags {
  display: flex;
  height: 30px;
}

.tags > a {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 16px;
  border: solid 1px gray;
  
  padding: 15px;
  margin-right: 10px;

  text-decoration: none;
  color: black;
}

.videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.video {
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: 10px;
}

.description {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 8px;
}

.thumbnail {
  width: 100%;
}

.icon {
  width: 100%;
  border-radius: 50%;
}