body {
  height: 100vh;

  display: grid;
  grid-template-areas: "logo     header"
                       "sidebar  tags"
                       "sidebar  videos";
  grid-template-columns: 0.5fr 2fr;
  gap: 5px;
}

@media screen and (max-width: 1200px) {
  body {
    grid-template-areas: "header   header"
                         "sidebar  tags"
                         "sidebar  videos";
  }
}

/* Logo Grid */

.logo {
  grid-area: logo;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.logo > .menu-icon {
  width: 25px;
}

/* Header Grid */

.header { 
  grid-area: header;

  display: grid;
  grid-template-columns: 2fr 0.1fr;
  border-bottom: solid 0.5px lightgray;
}

.user-menu {
  display: flex;
  align-items: center;
}

.user-menu > .icon {
  border-radius: 50%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search > input {
  border: solid 1px lightgray;
  border-right: none;
  width: 600px;
  height: 30px;
}

.search > button {
  border: solid 1px lightgray;
  width: 60px;
  height: 34px;
}

/* Sidebar Grid */

.sidebar { 
  grid-area: sidebar;
}

.menus > div {
  border-bottom: solid 0.5px lightgray;
  padding: 20px 0px;
}

.menus > div:last-child {
  border-bottom: initial;
}

.menu-title { 
  height: 50px;
  position: relative;
}

.menu-title > span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
}

.menu {
  height: 50px;
  position: relative;
}

.menu > .icon {
  border-radius: 50%;
  width: 30px;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
}

.menu > a {
  text-decoration: initial;
  color: black;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translate(0, -50%);
}

/* Tags Grid */

.tags {
  grid-area: tags;

  display: flex;
  align-items: center;
  border-bottom: solid 0.5px lightgray;
  height: 60px;
}

.tags > a {
  height: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 16px;
  border: solid 1px gray;
  
  padding: 15px;
  margin-right: 10px;

  text-decoration: none;
  color: black;
}

/* Videos Grid */

.videos {
  grid-area: videos;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.video {
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: 10px;
}

.description {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 8px;
}

.thumbnail {
  width: 100%;
}

.description > .icon {
  width: 100%;
  border-radius: 50%;
}